.messageerreur{
    font-size: 20px;
    text-align: center;
}
.grandcarderreur{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80vh;
}
.carderreur{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40vh;
    width: 50vw;
    border-radius: 30px;
    border: 10px, solid, blaci=k;
}
